.pg-banner {
    height: 200px;
    background-image: url("../../assets/images/bg.jpg");
    background-size: cover;
    margin-bottom: 0px;
    color:whitesmoke;
}

h1 {
    position:absolute;
    top: 20px;
}

.sam-navbar {
    background-color: plum;
    margin-top: 0px;
}

