<div class="row">
    <div class="col centertext">
        <app-facebook></app-facebook>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 center centertext">
        <h3>Contact Me</h3>
        <h5>I work by appointment only and will do my best to accommodate your schedule with evening hours if necessary.
            Please call and leave a message or send an e-mail with your request.
        </h5><br>
        <h3>Call or Text:</h3>
        <h5>781-412-4726</h5><br>
        <br>
        <h3>E-mail me:</h3>
        <h5><a href="mailto:sam4sewing@gmail.com">Sam4Sewing@Gmail.com</a></h5>
    </div>
</div>