<div class="row">
    <div class="col goldenbg">
        <h3 class="centertext">Special On-Line Coupon</h3>
        <h3 class="centertext">Print this page for</h3>
    </div>
</div>
<div class="row greenbg centertext center">
    <div class="col-3-xs">
        <h4 class="center white">10%</h4>
        <img src="../../assets/images/tailor.jpg" class="center img-reactive">
        <h4 class="center white">10%</h4>
    </div>
    <div class="col-6-xs center">
        <h4 class="center top white">10% Discount on Alterations</h4>
        <img src="../../assets/images/logo.jpg" class="center img-reactive">
        <h4 class="center bottom white">$20 Maximum Value</h4>
    </div>
    <div class="col-3-xs">
        <h4 class="center white">10%</h4>
        <img src="../../assets/images/tailor.jpg" class="center img-reactive">
        <h4 class="center white">10%</h4>
    </div>
</div>
<div class="row centertext">
    <div class="col goldenbg center">
        <h3 class="center">Limit 1 coupon per customer</h3>
        <h3 class="center">Not valid with any other offer</h3>
    </div>
</div>
