<div class="row">
    <div class="col-12 center centertext">
        <h2>Memorial Bears</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p>Has a special loved one passed away? Let me help keep their memory alive with a memorial bear.
                        From a favorite shirt or other garment, I can make a memorial teddy bear keepsake for you or as
                        a special gift. That special child, grandchild, niece or nephew will remember their lost love
                        each time they see their memorial bear on their book shelf or beside them on their pillow.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <app-slide-show [images]="images" [filePath]="filePath" [startIndex]="index"></app-slide-show>
    </div>
</div>