<div class="row">
    <div class="col-8 offset-2 centertext">
        <h4 class="center italic">Here are a few of the professional alteration and tailoring services that I offer:
        </h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-4 offset-2 col-8" *ngFor="let items of [leftItems, rightItems]">
        <ul>
            <li *ngFor="let item of items">
                <a *ngIf="item === 'Memorial Bears'" [routerLink]="['/memorialbears']">
                    {{ item }}
                </a>
                <span *ngIf="item != 'Memorial Bears'">
                    {{ item }}
                </span>
            </li>
        </ul>
    </div>
</div>