/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(gray, white);
}

.blackbg {
    background-color: black;
}

.greenbg {
    background-color: green;
}

.white {
    color: white;
}

.goldenbg {
    background-color: gold;
}
.smspace {
    line-height: 75%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.right {
    margin-left: auto;
    margin-right: 0px;
}

.left {
    margin-left: 0px;
    margin-right: auto;
}

.top {
    margin-top: 0px;
    margin-bottom: auto;
}

.bottom {
    margin-top: auto;
    margin-bottom: 0px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}

.xxlarge {
    font-size: xx-large;
}