<h3>Welcome to my website and thanks for visiting. I look forward to the opportunity to help you with all of your
    alteration needs.
</h3>
<br />
<img src="../../assets/images/htmlimport_starburst2.png" class="img-fluid center">
<br />
<app-facebook></app-facebook>
<br />
<h4>Wedding Gowns, Bride Maids, Mothers of the Bride and Groom and Flower Girl dresses are my specialties.</h4>
<br />
<p>Your wedding day is one of the most special days of your life and having the perfect dress can help make this day
    unforgettable. But, the most beautiful dress is only beautiful on you if the fit is perfect. You need and deserve
    the most experienced tailor to make the needed alterations for that perfect fit. With my meticulous attention to
    detail and more than 20 years of experience, you can rest assured that your wedding dress will be exactly as you
    imagined.</p>
<br />
<p>I am proud to offer my services in Litchfield and the surrounding areas. Specializing in wedding, bride’s maid,
    mother’s of the bride and groom, prom and homecoming dresses, I also do alterations and repairs for men and women’s
    clothing of all types. If you want to make an unforgettable impression on that special night or just want to be the
    sharpest dressed employee at the office, I look forward to helping you.</p>
<br />
<img src="../../assets/images/htmlimport_bridal_show_JPG.jpg" alt="Callie at a recent bridal show">
<p>Callie at a recent bridal show</p>